* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: "Nanum Myeongjo", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 130px;
  transition: filter 900ms ease-out;
  filter: blur(10px);
  flex-direction: column-reverse;
}

.main:hover {
  filter: blur(0px);
}

body {
  min-height: 100dvh;
  background-color: black;
}

.main2 {
  color: rgb(255, 255, 252);
  /* padding-inline: 6.25rem;
    padding-block: 12.5rem; */
}

/* 남의 것 가져옴 */
#container {
  height: 100vh;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 6.25rem;
}

.main2 {
  width: 70ch;
  /* ch : 25개의 문자열을 포함 */
  animation: typing 5s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 네브바 */
.containerNav {
  /* background-color: blue; */
  max-width: 1328px;
  margin-inline: auto;
  padding-inline: 64px;
  padding-bottom: 100px;
}

.nav__menu {
  /* border: 3px solid rgb(255, 0, 0);
    border-radius: 50%; */
}

.nav {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 42px;
  container-type: inline-size;
  container-name: nav;
}

.nav .wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-block: 12px;
  filter: blur(4px);
}
.nav .lit640 {
  display: none;
}
.nav__menuWrapper {
  display: flex;
  gap: 54px;
  align-items: baseline;
}

/* padding-inline-start: 200px; */

@container nav (width < 43rem ) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lit640 {
    display: unset;
  }
}
